@use "@/styles/mixins" as *;

.contact {
  margin: 200px 0 100px 0;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__heading {
    max-width: 34.5rem;
  }

  &__title {
    @include text-style(400, 48px, 55px, 0.2px, var(--primary-blue), 27px);
  }

  &__desc {
    @include text-style(400, 28px, 40px, 0.2px, var(--primary-gray), 60px);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 45px;
    border: 1px solid #dddddd;
    padding: 50px;
    width: 28rem;
    border-radius: 20px;
    box-shadow: 0px 13px 19px 0px #00000012;

    &__heading {
      @include text-style(700, 20px, 28px, 0.1px, var(--primary-gray));
    }

    &__input {
      border: none;
      background-color: #f5f5f5;
      border-radius: 39px;
      border: 1px solid #e8e8e8;
      padding: 19px 0 19px 20px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        @include text-style(400, 15px, 16px, 0.1px, #18171d);
        font-family: poppins;
      }
    }

    &__textarea {
      border-radius: 0;
      height: 12rem;
      resize: none;
    }
  }

  &__location {
    max-width: 45rem;
  }

  &__infoText {
    display: flex;
    gap: 1rem;

    &__image {
      width: 27px;
      height: 34px;
    }

    &__desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.1px;
      max-width: 18rem;
    }
  }
  &__infoMap {
    width: 100%;
    height: auto;
    margin: 60px 0;
  }

  &__socials {
    display: flex;
    gap: 1.5rem;
  }
}
