.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.contact__heading {
  max-width: 34.5rem;
}

.contact__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}

.contact__desc {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-bottom: 60px;
}

.contact__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 45px;
  border: 1px solid #dddddd;
  padding: 50px;
  width: 28rem;
  border-radius: 20px;
  box-shadow: 0px 13px 19px 0px #00000012;
}

.contact__formHead {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.form__input {
  border: none;
  background-color: #f5f5f5;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  padding: 19px 0 19px 20px;
}

.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.form__messageInput {
  border-radius: 0;
  height: 12rem;
  resize: none;
}

.contact__location {
  max-width: 45rem;
}

.contact__infoText {
  display: flex;
}

.infoText__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  max-width: 18rem;
}

.contact__infoMap {
  margin: 60px 0;
}

.contact__socials {
  display: flex;
  gap: 1.5rem;
}
