.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pricing__card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.heading {
  max-width: 33rem;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}

.desc {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 90px;
}
