@use "@/styles/mixins" as *;

.pricing {
  background-color: var(--primary-blue);
  padding: 100px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
  }

  &__content {
    max-width: 33rem;
    color: var(--primary-white);
  }

  &__title {
    @include text-style(400, 48px, 55px, 0.2px, var(--primary-white), 27px);
  }

  &__desc {
    @include text-style(400, 28px, 40px, 0.2px, var(--primary-white), 90px);
  }
}
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
  .pricing {
    &__title {
      @include text-style(400, 40px, 55px, 0.2px, var(--primary-white), 27px);
    }

    &__desc {
      @include text-style(400, 24px, 35px, 0.2px, var(--primary-white), 100px);
    }

    &__cards {
      flex-direction: column;
      width: 100%;
      gap: 50px;
    }
  }
}
