.button {
  border: none;
  background-color: var(--button-blue);
  padding: 1rem 3.8rem;
  border-radius: 35px;
  color: var(--primary-white);
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: var(--font-line);
}
