.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features__heading {
  max-width: 34.5rem;
}

.features__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: var(--font-line);
  margin-bottom: 1.7rem;
}

.features__desc {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: var(--font-line);
  margin-bottom: 5.5rem;
}

.features__cards {
  display: flex;
  width: 100%;
  max-width: 54.5rem;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.features__card {
  max-width: 16rem;
}

.features__cardHead {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin: 1.25rem 0;
}

.features__cardDesc {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: var(--font-line);
}

.features__image {
  width: 100%;
  height: 100%;
}
