@use "@/styles/mixins" as *;

.features {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__content {
    max-width: 34.5rem;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: var(--font-line);
    margin-bottom: 1.7rem;
    color: var(--primary-blue);
  }

  &__desc {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: var(--font-line);
    margin-bottom: 5.5rem;
    color: var(--primary-gray);
  }

  &__cards__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
    place-items: center;
  }

  &__card {
    max-width: 16rem;

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.1px;
      margin: 1.25rem 0;
      color: var(--primary-blue);
    }
    &__desc {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: var(--font-line);
      color: var(--primary-gray);
    }

    &__icon {
      width: 3.75rem;
      height: 3.75rem;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .features {
    &__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "top"
        "mid"
        "bottom";
    }
    &__cards__container {
      grid-template-columns: 1fr;
      margin: 3.5rem 0 0 0;
      gap: 4.5rem;
    }
    &__content {
      grid-area: top;
    }

    &__image {
      grid-area: mid;
      // margin-bottom: ;
    }
  }
}

@media (max-width: 576px) {
  .features {
    &__title {
      @include text-style(400, 40px, 55px, 0.2px, var(--primary-blue), 2rem);
    }

    &__desc {
      @include text-style(400, 24px, 35px, 0.2px, var(--primary-gray), 3.5rem);
    }
  }
}
