.testimonial__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 60rem;
  justify-content: center;
}

.testimonialCard__desc {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--primary-gray);
  margin: 60px 0;
}

.testimonialCard__profile {
  display: flex;
  gap: 13px;
}

.testimonialCard__text {
  text-align: start;
}

.testimonialCard__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--primary-gray);
}

.testimonialCard__role {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--primary-blue);
}
