@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-blue: #2091f9;
  --primary-white: #ffffff;
  --primary-blue: #252b42;
  --primary-gray: #374754;
  --font-line: 0.2px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: var(--foreground); */
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* @media (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
} */
