*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-blue: #2091f9;
  --primary-white: #ffffff;
  --primary-blue: #252b42;
  --primary-gray: #374754;
  --font-line: 0.2px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 1rem;
  max-width: 1440px;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 1399px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
