@use "@/styles/mixins" as *;

.partners {
  margin: 16.8rem 0 5rem 0;

  &__contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__logosDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    margin: 5rem 0;

    &__logo {
      border: 1px solid #d8d8d8;
      padding: 31px 40px;
    }
  }

  &__title {
    @include text-style(400, 48px, 55px, 0.2px, var(--primary-blue), 27px);
  }

  &__desc {
    @include text-style(400, 28px, 40px, 0.2px, var(--primary-blue));
  }

  &__logo__client {
    @include text-style(400, 16px, 23px, 0.1px, var(--primary-gray), 15px);
  }

  &__btn {
    font-weight: 700;
  }

  &__logo {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
  .partners {
    margin: 11.25rem 0 3rem 0;

    &__title {
      @include text-style(400, 40px, 55px, 0.2px, var(--primary-blue), 2rem);
    }

    &__desc {
      @include text-style(400, 24px, 35px, 0.2px, var(--primary-gray));
    }

    &__logosDiv {
      grid-template-columns: 1fr;
      gap: 30px;
      margin: 6rem 0;

      &__logo:nth-child(n + 4) {
        display: none;
      }
    }
  }
}
