@use "@/styles/mixins" as *;

.partners {
  margin-top: 16.8rem;

  &__contianer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__logosDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 80px 0;

    &__logo {
      border: 1px solid #d8d8d8;
      padding: 31px 40px;
    }
  }

  &__title {
    @include text-style(400, 48px, 55px, 0.2px, var(--primary-blue), 27px);
  }

  &__desc {
    @include text-style(400, 28px, 40px, 0.2px, var(--primary-blue));
  }

  &__logo__client {
    @include text-style(400, 16px, 23px, 0.1px, var(--primary-gray), 15px);
  }

  &__btn {
    font-weight: 700;
  }

  &__logo {
    width: 100%;
    height: auto;
  }
}
