.partners__contianer {
  margin-top: 16.8rem;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.partners__logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px 0;
}

.partners__logo {
  border: 1px solid #d8d8d8;
  padding: 31px 40px;
}

.partners__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--primary-blue);
  margin-bottom: 27px;
}

.partners__desc {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--primary-gray);
}

.logo__client {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--primary-gray);
  margin-bottom: 15px;
}

.partners__btn {
  font-weight: 700;
}
