.bgImage {
  object-fit: cover;
  z-index: -1;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.hero__content {
  max-width: 50rem;
  width: 100%;
}

.hero__heading {
  font-weight: 700;
  font-size: 74px;
  line-height: 84px;
  letter-spacing: var(--font-line);
  color: var(--primary-white);
  margin-bottom: 1.7rem;
}

.hero__para {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--primary-white);
  margin-bottom: 6rem;
}

.hero__btn {
  margin-bottom: 150px;
}
