.hero {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
}

.bg__image {
  position: absolute;
  z-index: 0;
  filter: brightness(50%);
  object-fit: cover;
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.hero__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.hero__content {
  max-width: 50rem;
  width: 100%;
}

.hero__heading {
  font-weight: 700;
  font-size: 74px;
  line-height: 84px;
  letter-spacing: var(--font-line);
  color: var(--primary-white);
  margin-bottom: 1.7rem;
}

.hero__para {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--primary-white);
  margin-bottom: 6rem;
}

.hero__sec {
  margin-bottom: 80px;
}

@media (max-width: 540px) {
  .hero__heading {
    font-size: 40px;
    font-weight: 400;
    line-height: 130%;
  }
  .hero__para {
    font-size: 20px;
  }
}
