@use "@/styles/mixins" as *;

.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  margin-bottom: 80px;

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
  }

  &__content {
    max-width: 50rem;
    width: 100%;
  }

  &__title {
    @include text-style(700, 74px, 84px, 0.2px, var(--primary-white), 1.7rem);
  }

  &__desc {
    @include text-style(400, 28px, 40px, 0.2px, var(--primary-white), 6rem);
  }

  &__bg__image {
    position: absolute;
    z-index: 0;
    filter: brightness(50%);
    object-fit: cover;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  }
}

@media (max-width: 540px) {
  .hero__heading {
    font-size: 40px;
    font-weight: 400;
    line-height: 130%;
  }
  .hero__para {
    font-size: 20px;
  }
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
  .hero {
    &__title {
      @include text-style(400, 40px, 55px, 0.2px, var(--primary-white), 2rem);
    }

    &__desc {
      @include text-style(400, 24px, 35px, 0.2px, var(--primary-white), 4rem);
    }

    &__container {
      margin-top: 3rem;
    }
  }
}
