@use "@/styles/mixins" as *;

.organise {
  margin-top: 16.8rem;

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__title {
    @include text-style(400, 48px, 55px, 0.2px, var(--primary-blue), 1.6rem);
  }

  &__desc {
    @include text-style(
      400,
      28px,
      40px,
      var(--font-line),
      var(--primary-gray),
      4.3rem
    );
  }

  &__imageDiv__image {
    width: 100%;
    height: 100%;
  }

  &__content {
    max-width: 532px;
  }
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .organise {
    &__container {
      flex-direction: column;
      text-align: center;
    }
    &__content {
      margin-bottom: 3.75rem;
    }
  }
}

@media (max-width: 576px) {
  .organise {
    margin-top: 11.25rem;
    &__title {
      @include text-style(400, 40px, 55px, 0.2px, var(--primary-blue), 2rem);
    }

    &__desc {
      @include text-style(400, 24px, 35px, 0.2px, var(--primary-gray), 3.5rem);
    }
  }
}
