.organise__container {
  margin-top: 16.8rem;
}

.organise {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.organise__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  margin-bottom: 1.6rem;
  width: 100%;
  color: var(--primary-blue);
}

.organise__desc {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: var(--font-line);
  margin-bottom: 4.3rem;
  width: 100%;
  color: var(--primary-gray);
}

.organise__image {
  width: 100%;
  height: 100%;
}

.organise__heading {
  max-width: 532px;
}

@media (max-width: 768px) {
  .organise {
    flex-direction: column;
    text-align: center;
  }
}
