.footer {
  background-color: var(--primary-blue);

  &__container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    padding: 150px 0;
  }
  &__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__location {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;

    &__info {
      display: flex;
      color: var(--primary-white);
      align-items: center;
      gap: 10px;
    }

    &__image {
      width: 46px;
      height: 46px;
    }
  }

  &__socials {
    display: flex;
    gap: 1.5rem;
  }
}
